[user]
	name = 0x41*32
	email = 31595285+x4132@users.noreply.github.com
	signingkey = {{ .chezmoi.homeDir }}/.ssh/id_ed25519.pub
[gpg]
	format = ssh
[commit]
	gpgsign = true
[push]
	autoSetupRemote = true
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[pull]
	rebase = true
