* {
    font-family: "Articulat CF";
    font-size: 16px;
    min-height: 0;
    font-weight: bold;
}

window#waybar {
    border-radius: 8px;
    background-color: alpha(#24273a, 0.95);
}

.module {
  background: transparent;
  padding: 0px 0px;
  border-radius: 6px;
  margin: 0px;
  margin-top: 0px;
  margin-bottom: 0px;
  margin-right: 14px;
}

#workspaces {
  margin-left: 5px;
}

#workspaces button {
  padding: 0 5px;
  margin-right: 1px;
  border-radius: 4px;
}

#workspaces button:hover {
  background-color: #7dc4e4;
  color: #cad3f5;
}

#workspaces button.active {
  background: #7dc4e4;
}

#workspaces button.urgent {
  background-color: #ed8796;
  animation: urgentBlink 1s linear infinite alternate;
}

#clock{
  font-size: 16px;
}

#tray {
  padding: 0px 4px;
}

#pulseaudio {
  color: #7dc4e4;
}



.modules-left,
.modules-right,
.modules-center {
  padding: 4px 0px;
}